
{% extends 'facilitybase.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css">
{% endblock %}

{% block content %}

<div class="container">
    <div class="spacing-div"></div>
    <!-- <div class="d-flex justify-content-between align-items-center">
        <h5 class="mb-3">Welcome, {{ current_user.username }}!</h5>
    </div> -->
    <div class="spacing-div"></div>
    <form  style="height:79vh">
        <div class="d-flex justify-content-center">
            <h4 class="mb-4">Please Enter Assessment Data:</h4>
        </div>
        <div class="spacing-div"></div>
        <div class="d-flex justify-content-center">
            <a href="/client_record" class="btn btn-primary mb-3">Enter Client Record</a>
        </div>
        <div class="spacing-div"></div>
        <div class="d-flex justify-content-center">
            <a href="/pharm_record" class="btn btn-primary mb-3">Enter Pharmacy Record</a>
        </div>
    </form>
    
    <div class="d-flex justify-content-center">
        <a href="/landing" class="btn btn-secondary">Back to Main</a>
    </div>
    <div class="spacing-div"></div>
</div>
{% endblock %}
