{% extends 'facilitybase.html' %}

{% block extra_css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css">
{% endblock %}

{% block content %}
<div class="container" style="height:100vh">
    <div class="spacing-div"></div>
    <div class="d-flex justify-content-near">
        <h4 style="color: white;">Welcome, {{ current_user.username }}!</h4>
    </div>
    <div class="spacing-div"></div>
    <div class="d-flex justify-content-center">
        <h1 style="color: white;">Download Data</h1>
    </div>
    <div class="spacing-div"></div>
    <div class="d-flex justify-content-center">
        <a href="/download_csv" class="btn btn-primary mb-3">Download CSV File</a>
    </div>
    <div class="spacing-div"></div>
    <div class="d-flex justify-content-center">
        <a href="/download_json" class="btn btn-primary mb-3">Download Json file</a>
    </div>
    <div class="spacing-div"></div>
    <div class="d-flex justify-content-center">
        <a href="/download_xml" class="btn btn-primary mb-3">Download XML File</a>
    </div>
    <div class="spacing-div"></div>
    <div class="d-flex justify-content-center">
        <a href="/api/data" class="btn btn-primary mb-3">API access</a>
    </div>
    <div class="spacing-div"></div>
    <div class="d-flex justify-content-end">
        <a href="/landing" class="btn btn-secondary">Back to Main</a>
    </div>
    <div class="spacing-div"></div>
</div>
{% endblock %}
