<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LenxAI - Nigeria DQA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css">
    <style>
        body {
            background-color: black;
            color: white;
        }
        .container {
            width: 90%;
            max-width: 960px;
            margin: 0 auto;
        }
        .form-control,
        .btn {
            background-color: #343a40;
            color: white;
        }
        .spacing-div {
            margin: 1rem 0;
        }
        .page-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        }

        .content-wrap {
        flex: 1;
        }

        .footer {
        text-align: center;
        padding: 10px;
        background-color: #333;
        color: white;
        position: absolute;
        width: 100%;
        }
    </style>
</head>
<body>
    
    {% include "navbar.html" %}
    
    <div class="container">
        <div class="d-flex justify-content-center">
            <h1 class="mb-3">Enter Pharmarcy Record</h1>
        </div>
        <form id="pharmRecordForm" method="POST">
            {{ form.hidden_tag() }}
            <div>
                <div style="display: inline-block;">
                    <table>
                        <tr>
                            <th>Facility</th>
                            <td>{{ form.facility_name(class="selectpicker", data_live_search="true") }}</td>
                        </tr>
                    </table>
                </div>
                <div style="display: inline-block;">
                    <table>
                        <tr>
                            <th>Client ID</th>
                            <td>{{ form.client_id(class="selectpicker", data_live_search="true") }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.pharm_doc.id }}">Pharmacy Record Sighted?</label>
                {{ form.pharm_doc() }} <span id="pharm_doc" class="ml-5"><b>(Available Record: <span id="pharm_doc_value"> </b></span>)</span>
            </div>
            <div class="form-group">
                <label for="{{ form.dregimen_pw.id }}">Drug Regimen Pharmacy Record</label>
                {{ form.dregimen_pw(class="form-control") }} <span id="dregimen_pw" class="ml-5"><b>(Available Record: <span id="dregimen_pw_value"> </b></span>)</span>
            </div>
            <div class="spacing-div"></div>
            <div class="form-group">
                <label for="{{ form.mrefill_pw.id }}">Months of Refill Pharmacy Record</label>
                {{ form.mrefill_pw(class="form-control") }} <span id="mrefill_pw" class="ml-5"><b>(Available Record: <span id="mrefill_pw_value"> </b></span>)</span>
            </div>
            <div class="spacing-div"></div>
            <div class="form-group">
                <label for="{{ form.laspud_pw.id }}">Last pickup Date Pharmacy Record</label>
                {{ form.laspud_pw(class="form-control") }} <span id="laspud_pw" class="ml-5"><b>(Available Record: <span id="laspud_pw_value"> </b></span>)</span>
            </div>
            <div class="spacing-div"></div>
            <div class="form-group">
                <label for="{{ form.quantityd_pw.id }}">Quantity of Drug Dispenced Pharmacy Record</label>
                {{ form.quantityd_pw(class="form-control") }} <span id="quantityd_pw" class="ml-5"><b>(Available Record: <span id="quantityd_pw_value"> </b></span>)</span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="d-flex justify-content-end">
            <a href="/client_record" class="btn btn-secondary">Next to Client Record</a>
        </div>
        <div class="d-flex justify-content-near">
            <a href="/data_entry" class="btn btn-secondary">Back to Data Entry</a>
        </div>
    </div>
    <div class="footer">
        <p>&copy; {{ current_year }} LenxAI. All rights reserved.</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>

    <script>
        $('select[name="facility_name"]').change(function() {
            let facilityName = $(this).val();
            $.getJSON('/get_client_ids', {
                facility_name: facilityName
            }, function(data) {
                let clientIdSelect = $('select[name="client_id"]');
                clientIdSelect.empty();
                $.each(data, function(index, client) {
                    clientIdSelect.append(
                        $('<option></option>').attr('value', client[0]).text(client[1])
                        );
                    });
                    clientIdSelect.selectpicker('refresh');

                    // Select the first client ID by default if available
                    if (data.length > 0) {
                        let clientId = data[0][0];
                        clientIdSelect.val(clientId);
                        clientIdSelect.trigger('change');
                    }

                    // Clear the data fields when no client IDs are available
                    if (data.length === 0) {
                        $('#dregimen_pw_value').text('');
                        $('#mrefill_pw_value').text('');
                        $('#laspud_pw_value').text('');
                        $('#quantityd_pw_value').text('');
                        $('#pharm_doc_value').text('');
                    }

                });
            });

            // Trigger the change event on the facility dropdown after populating it
            $('select[name="facility_name"]').trigger('change');

            $('select[name="client_id"]').change(function() {
            let clientId = $(this).val();
            $.getJSON('/get_client_data', {
                client_id: clientId
            }, function(data) {
                console.log("Received data:", data);  // Debugging line
                $('#dregimen_pw_value').text(data.dregimen_pw || '----');
                $('#mrefill_pw_value').text(data.mrefill_pw || '----');
                $('#laspud_pw_value').text(data.laspud_pw || '----');
                $('#quantityd_pw_value').text(data.quantityd_pw || '----');
                $('#pharm_doc_value').text(data.pharm_doc || '----');
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>
    <script>
        $(document).ready(function() {
        // Check for saved data when the page loads
        checkForSavedData();
    });
    
    function saveDataLocally(clientId, data) {
        localStorage.setItem('pharmRecordForm-' + clientId, JSON.stringify(data));
    }
    
    function getLocalData(clientId) {
        let data = localStorage.getItem('pharmRecordForm-' + clientId);
        return data ? JSON.parse(data) : null;
    }
    
    function clearLocalData(clientId) {
        localStorage.removeItem('pharmRecordForm-' + clientId);
    }
    
    function checkForSavedData() {
        // Get the keys from the localStorage
        var keys = Object.keys(localStorage);
        keys.forEach(function(key) {
            if (key.startsWith("pharmRecordForm-")) {
                // Get the data for this key
                var data = JSON.parse(localStorage.getItem(key));
                uploadData(data, function(success) {
                    if (success) {
                        alert("Data uploaded successfully!");
                        clearLocalData(key.split('-')[1]);
                    } else {
                        alert("Data upload failed. Please try again later.");
                    }
                });
            }
        });
    }
    
    function uploadData(data, callback) {
        for (let key in data) {
            let input = $(`#pharmRecordForm [name="${key}"]`);
            if (input && input.length) {
                input.val(data[key]);
            }
        }
    
        $.ajax({
            url: '/pharm_record',  // the endpoint where the form data should be submitted
            method: 'POST',
            data: $('#pharmRecordForm').serialize(),  // serialize the form data
            success: function(response) {
                console.log('Form submitted successfully');
                callback(true);
            },
            error: function(error) {
                console.log('Error submitting form', error);
                callback(false);
            }
        });
    }
    
    $('#pharmRecordForm').on('submit', function(e) {
        e.preventDefault();
    
        // Collect data from the form
        let data = {};
        data['client_id'] = $('#client_id').val(); 
    
        let clientId = $('select[name="client_id"]').attr('data-id');
        if (navigator.onLine) {
            uploadData(data, function(success) {
                if (success) {
                    alert("Data uploaded successfully!");
                    window.location.reload(); // Refresh the page
                    clearLocalData(clientId); // Clearing data after successful upload
                } else {
                    alert("Data upload failed. Please try again later.");
                }
            });
        } else {
            saveDataLocally(clientId, data);
            alert("You're offline. The data has been saved locally and will be uploaded when you reconnect.");
        }
    });
    
    // Event listeners for online and offline status
    window.addEventListener('online', checkForSavedData);
    window.addEventListener('offline', function() {
        alert("You're offline. Your data will be saved locally until you reconnect.");
    });
    </script>
    <script>
        $(document).ready(function() {
            $('input[name="pharm_doc"]').change(function() {
                if ($(this).val().toLowerCase() === 'no') {
                    // Disable other form fields
                    $('.form-group').not(':first').find('input, select').prop('disabled', true);
                } else {
                    // Enable other form fields
                    $('.form-group').find('input, select').prop('disabled', false);
                }
            });

            // Trigger change event to disable fields based on initial selection
            $('input[name="pharm_doc"]').trigger('change');
        });
    </script>
</body>
</html>

