
{% extends 'facilitybase.html' %}

{% block extra_css %}
    <title>Validat Data</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css">
{% endblock %}

{% block content %}
    <div class="container" style="height:100vh">
        <div class="spacing-div"></div>
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="mb-3">Welcome, {{ current_user.username }}!</h3>
        </div>
        <div class="spacing-div"></div>
        <div class="spacing-div"></div>
        <div class="spacing-div"></div>
        <div class="spacing-div"></div>
        <div class="d-flex justify-content-center">
            <h1 class="mb-3">Please Select Assessment Record to Validate</h1>
        </div>
        <div class="spacing-div"></div>
        <div class="d-flex justify-content-center">
            <a href="/validate_client_record" class="btn btn-primary mb-3">Validate Client Record</a>
        </div>
        <div class="spacing-div"></div>
        <div class="d-flex justify-content-center">
            <a href="/validate_pharm_record" class="btn btn-primary mb-3">Validate Pharmacy Record</a>
        </div>
        <div class="spacing-div"></div>
        <div class="d-flex justify-content-end">
            <a href="/landing" class="btn btn-secondary">Back to Main</a>
        </div>
        <div class="spacing-div"></div>
    </div>
{% endblock %}
